
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
    font-family: 'Comfortaa', cursive;
}
.navbar {
    background-color: orange;
    }
.navbar-end {
    margin-left: 1360px;
    }
.topic_container {
    display: flex;
    justify-content: space space-evenly;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    margin: 0 125px 0 125px;
}

.topic_p {
    color: #000000;
    height: 50px;
    width: 250px;
    font-size: small;
}

.item {
    height: 200px;
    width: 400px;
}
.navbar {
background-color: orange;
}
