
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
    font-family: 'Comfortaa', cursive;
}
.navbar {
    background-color: orange;
    }
.topic_container {
    display: flex;
    justify-content: space space-evenly;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    margin: 0 125px 0 125px;
}
.navbar-end {
    margin-left: 1340px;
}

.topic_p {
    color: #000000;
    height: 50px;
    width: 250px;
    font-size: small;
}

.carousel_item {
    height: 250px;
    width: 250px;
}

.carousel_img {
    border-radius: 10px;
}
.card{
    
    margin-top: auto;
    width: 200px;
    height: 100px;
}

.posts{
    padding: 20px;
    
 
    
}
