@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Nunito:wght@200&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    height: 1000px;
    background-color: #eec89f;
}

.navbar {
    background-color: #ff9067;
    height: 75px;
    font-size: large;
    display: flex;
    font-weight: bold;
    font-family: 'Ubuntu', sans
}

.navbar_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: large;
    font-family: 'Ubuntu', sans
}

.navbar_logo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 0 10px;
    font-weight: bold;
    font-size: x-large;
}

.webtitle {
    font-weight: bold;
    font-family: 'Ubuntu', sans;
}


.navbar_img {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 72px;
    border-radius: 60%;
    margin: 0 10px 0 10px;
}

.topic_container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
    height: 200px;
    background-color: #eec89f;
    border: 10px;
    border-radius: 20px;
    border-color: #860f44;
}

.wayfarer-intro {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: x-large;
    margin: 30px;
    color: #860f44;
    font-weight: bold;

}

.topic {    
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: -210px;
    color: #ff9067;
    font-size: large;
    font-weight: bold;
    
}

.home-page-images {
    margin-top: 50px;
    width: auto;
    height: 350px;
    margin-bottom: 120px;
}

.topic_p {
    color: #000000;
    width: 250px;
    font-size: small;
    margin-top: 20px;
    color: #860f44;
}

.profile_container {
    display: flex;
}

.card {
    margin-top: 25px;
    width: 400px;
    height: 100px;
    border: 5px;
    border-color: #860f44;
}

.posts {
    padding: 20px;
    font-size: xx-large;
    margin: 10px 20px;
    color: #860f44;
    font-weight: bold;
}

.profile_title {
    font-size: xx-large;
    margin-top: 10px;
    color: #860f44;
    font-weight: bold;
}

#owl-slider .item #owl-pic {
    display: block;
    width: 90%;
    height: 350px;
    padding: 0 20px 0 100px;
    border-radius: 10px;
}

.post_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.post_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: #860f44;
}

.post_content {
    font-size: larger;
    margin: 20px 0 0 0;
    max-width: 400px;
    color: #860f44;
}

.post_image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    margin: 20px 0;
}

.post_title {
    font-size: xx-large;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.buttons {
    padding-left: 50px;
}

div.card-header {
    background-color: white;
}

a.button.is-info {
    background-color: orange;
    height: 50px;
    width: 50px;
}

.modal-content {
    background-color: #eec89f;
    padding: 30px;
    border: 5px solid orange;
    border-radius: 10px;
}

.modal-background {
    background-color: transparent;
    padding: 200px;
}

.modal-close {
    background-color: black;
}

.login-header {
    display: flex;
    align-content: left;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
    margin-left: -20px;
}

.signup-header {
    display: flex;
    align-content: left;
    margin-top: 15px;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -20px;
}
 .topic_container {
    background-color: white;
 }

 .navbar-item {
     color: white;
 }
 .login-text-boxes {
     display: flex;
     align-content: flex-end;
 }