{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/owl.theme.default.min.css' %}">
    <link rel="icon" href="data:,">
    <title>Wayfarer</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar_logo">
            <img class="navbar_img" src="{% static 'images/beach-ball-logo-2.jpg' %}" alt="Wayfarer Beach Ball Logo">
            <h1 class="webtitle">Wayfarer</h1>
        </div>
        <!--Navbar-->
        <div class="navbar_links">
            <div class="navbar-brand">
                {% if user.is_authenticated %}<p class="navbar-item">Welcome: {{user.username}}</p>
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/profile">Profile</a>
                <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-menu navbar-end">
                <a class="navbar-item" id="login">Log In</a>
                <a class="navbar-item" id="signup">Sign Up</a>
            </div>
            {% endif %}
        </div>
        </div>
        <!-- adding Modal -->
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <form method="post" action="{% url 'login' %}">
                    <h1 class="login-header">Log In</h1>
                    {% csrf_token %} {{ form.as_p }}
                    <input type="submit" class="btn" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <form method="post" action="{% url 'signup' %}">
                    <h1 class="signup-header">Sign Up</h1>
                    {% csrf_token %} {{ form.as_p }}
                    <input type="submit" class="btn" value="Sign Up" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
            <button class="modal-close is-large" id="close" aria-label="close"></button>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <!-- Other pages will add page specific content here -->
        <!-- The page content will be dynamically created here -->
        <!-- No need to actually add anything here -->
        {% endblock %}
    </div>
    {% block footer %} {% endblock %}
    <script src="{% static 'scripts/jquery.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'scripts/owl.carousel.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'scripts/app.js' %}" type="text/javascript" defer></script>

</body>

</html>