{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'styles/owl.theme.default.css' %}">
    {% endblock %}
    {% block foot %}
    <script src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/owl.carousel.js' %}" type="text/javascript"></script>
    <script>
        $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
    })
    </script>
    {% endblock %}
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>Wayfarer</title>
</head>

<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <h1>Wayfarer</h1>
        <div class="navbar-brand">
           
        {% if user.is_authenticated %}<span class="navbar-item">Welcome: {{user.username}}</span>
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/profile">Profile</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-menu navbar-end">
                <a class="navbar-item" href="{% url 'login' %}">Log In</a>
                <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% endif %}
    
        </div>

    </nav>
    
    <div class="container">
        {% block content %}

        <!-- Other pages will add page specific content here -->
        <!-- The page content will be dynamically created here -->
        <!-- No need to actually add anything here -->

        <!-- Other pages will add page specific content here -->
        <!-- The page content will be dynamically created here -->
        <!-- No need to actually add anything here -->
        {% endblock %}
    </div>
</body>

</html>