{% extends 'base.html' %}

{% block content %}

<!-- Picture Slide show -->
<img class="slide" src="https://www.google.com/search?q=Seattle+skyline&rlz=1C5CHFA_enUS943US943&sxsrf=ALeKk017DX2XTsr_EUUk3aDWTyiAdYQaCg:1621015203486&tbm=isch&source=iu&ictx=1&fir=_FF2lOwu5JmDcM%252C72XmQacB_3tQXM%252C_&vet=1&usg=AI4_-kTIqUadPsOAHv-310TyaizxrbC4wQ&sa=X&ved=2ahUKEwim9YOb4MnwAhUOvJ4KHcuiBJ4Q9QF6BAgGEAE#imgrc=_FF2lOwu5JmDcM" alt="City Pictures">
<h1 class="title">Wayfarer is....</h1>


    <h2 class="topic">Topic</h2>
    <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae iste ea praesentium incidunt consequuntur corporis labore vel unde nesciunt veritatis cupiditate magnam neque impedit ad, eius ipsa voluptatibus illo!</p>

    <h2 class="topic">Topic</h2>
    <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. In reprehenderit voluptas inventore aspernatur est sit veniam dolorum animi voluptatum! Sed consectetur dolores quas maxime quibusdam quaerat dolor voluptas, distinctio odio?</p>

    <h2 class="topic">Topic</h2>
    <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsa quos vero, optio vitae ullam voluptatibus maiores nobis non fugit nemo sapiente, facere recusandae. Molestias deleniti quod tenetur incidunt corporis?</p>

{% endblock %}