{% extends 'base.html' %}

{% block content %}

<!-- Pic Carousel here -->
<section class="carousel_section">
    <div class="carousel_container">
        <div class="carousel"></div>
            <div class="item-1">
                <!-- Carousel Item 1 -->
            </div>
            <div class="item-2">
                <!-- Carousel Item 2 -->
            </div>
            <div class="item-3">
                <!-- Carousel Item 3 -->
            </div>
        </div>
    </div>
</section>
    <div class="topic_container">
        <h2 class="topic">Topic</h2>
            <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae iste ea praesentium incidunt consequuntur corporis labore vel unde nesciunt veritatis cupiditate magnam neque impedit ad, eius ipsa voluptatibus illo!</p>
            
        <h2 class="topic">Topic</h2>
            <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. In reprehenderit voluptas inventore aspernatur est sit veniam dolorum animi voluptatum! Sed consectetur dolores quas maxime quibusdam quaerat dolor voluptas, distinctio odio?</p>
            
        <h2 class="topic">Topic</h2>
            <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsa quos vero, optio vitae ullam voluptatibus maiores nobis non fugit nemo sapiente, facere recusandae. Molestias deleniti quod tenetur incidunt corporis?</p>
    </div>
{% endblock %}