{% extends 'base.html' %}
{% block head %} {% endblock %}

{% block content %}
    
<!-- Carousel Docs https://owlcarousel2.github.io/OwlCarousel2/ -->

        <div class="owl-carousel owl-theme">
            <div class="item"><img src="static/images/LA-skyline.jpeg" alt="Los Angeles"></div>
            <div class="item"><img src="static/images/miami-skyline.jpeg" alt="Miami"></div>
            <div class="item"><img src="static/images/Seattle-skyline.jpeg" alt="Seattle"></div>
            <div class="item"><img src="static/images/SF-skyline.jpeg" alt="San Fransico"></div>
            <div class="item"><img src="static/images/London-skyline.jpeg" alt="London"></div>
            <div class="item"><img src="static/images/Dubai-skyline.jpeg" alt="Dubai"></div>
            <div class="item"><img src="static/images/Sydney-skyline.jpeg" alt="Sydney"></div>
            <div class="item"><img src="static/images/NYC-skyline.jpeg" alt="New York City"></div>
        </div>
        
    <div class="topic_container">
        <h2 class="topic">Topic</h2>
            <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae iste ea praesentium incidunt consequuntur corporis labore vel unde nesciunt veritatis cupiditate magnam neque impedit ad, eius ipsa voluptatibus illo!</p>
            
        <h2 class="topic">Topic</h2>
            <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. In reprehenderit voluptas inventore aspernatur est sit veniam dolorum animi voluptatum! Sed consectetur dolores quas maxime quibusdam quaerat dolor voluptas, distinctio odio?</p>
            
        <h2 class="topic">Topic</h2>
            <p class="topic_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsa quos vero, optio vitae ullam voluptatibus maiores nobis non fugit nemo sapiente, facere recusandae. Molestias deleniti quod tenetur incidunt corporis?</p>
    </div>
    
{% endblock %}
    
