{% extends 'base.html' %}
{% block content %}
<h1 class="profile_title">Post</h1>
<div class="profile_container">
    <div class="gallery">
        <a href="">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img class="profileimage" src="{{posts.image}}" alt="{{posts.userprofile}}" />
                    </figure>
                </div>
                <div class="card-header">
                    <ul>
                        <li class="card-header-title">Name: {{posts.userprofile}}</li>
                        <li class="card-header-title">Title: {{posts.title}}</li>
                        <li class="card-header-title">Content: {{posts.content}}</li>
                    </ul>
                </div>
            </div>
        </a>
    </div>      
</div>
{% endblock %}