{% extends 'base.html' %}
{% block content %}
<h1 class="profile_title">Profile Page</h1>
<div class="profile_container">
    <div class="gallery">
    {% for profile in profiles %}
        <a href="">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img class="profileimage" src="{{profile.image}}" alt="{{profile.name}}" />
                    </figure>
                </div>
                <div class="card-header">
                    <ul>
                        <li class="card-header-title">{{profile.name}}</li>
                        <li class="card-header-title">Current City: {{profile.currentcity}}</li>
                        <li class="card-header-title">Join Date: {{profile.join_date}}</li>
                    </ul>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="posts">
        <h3>Posts</h3>
    {% for post in profile.posts.all %}
        <div>
            <ul>
                <li>{{forloop.counter}}</li>
                <li><b>{{post.name}}</b></li>
                <li><b>{{post.title}}</b></li>
            </ul>
        <!-- <a class="button is-dark" href="{% url 'profile_detail' %}">See Post!</a> -->
        </div>
    {% empty %}
        <h3>No Posts Available Yet</h3>
    {% endfor %}
    </div>
</div>
{% endblock %}